/* basis instellingen */
/*
* handige instellingen om problemen te voorkomen
*/

* {
  /* zorg dat de border meetelt bij de width en height van boxen */
  box-sizing: border-box;
  /* zorgt dat DIV de hoogte krijgt van wat erin zit (anders is het soms 0) */
  overflow: auto;
  /* standaard marge 0 */
  /* margin: 0px;*/
}

/*
* handige instellingen om fouten te zoeken
*/

* {
  /* zorg dat elke box een gestippelde rand krijgt, zodat je de afmeting goed kunt zien */
  border: 1px dotted black;
  /* zorg dat elke box een doorzichtige donkere achtergrond krijgt, hoe meer boxen in elkaar hoe donkerder de achtergrondkleuren */
  /* background-color: rgba (0,0,0,5%); */
}


*{
  border: 2px solid black;
  overflow: auto;
  box-sizing:border-box;
  margin:0px;
}




html, body {
    height: 100%;
    padding: 0;
    background-color: rgb(146, 146, 146);  
    
    color: #030303;
    font: Verdana, Arial, Sans-Serif;
}


main {
    margin: 0 auto;
    width: 700px;
    position: relative;
}


article {
    text-align: center;
}


header {
    color: rgb(0, 0, 0);
    text-align: center;
}


footer {
    text-align: right;
    padding-bottom: 10px;
}


/* specifieke stijlen */



img.plaatje2 {
  float: left;
  margin-right: 50px;
}

.messi {
  float: left;
  width: 300px;
  height: 400px ;
}

.Nkunku {
  float: left;
  width: 300px;
  height: 450px;
}

.Ronaldo {
  float: left;
  width: 300px;
  height: 400px;
}

.Mbappe {
  float: left;
width: 300px;
height: 380px;
}



.smalltext {
    font-size: 0.7em;
}

a {
    color: skyblue;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


/* navigatiebalk */
nav ul {
    list-style-type: disc;
    margin: auto;
    padding: 1%;
    background-color: #000000;
    overflow: hidden;
    float: left;
}

nav ul li {
    float: left;
}

nav li a {
    display: 
   inline;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 14px 16px;
    text-decoration: whitesmoke;
}

nav li a:hover {
    background-color: #ff0000;
}

nav li a.active {
    background-color: rgb(250, 0, 0);
}

.titel-plaat {
  border:solid 2px #ee0707
  width:640px;
  margin:auto;

}

.kolomlinks {
  float: ;
  width: px;

}
.kolomrechts {
  float:;
  width: calc(100% - 200px );
}


 body{
background-image: url("afbeeldingen/goal.jpg");
background-repeat: no-repeat;
background-size: cover;
background-position: center;
height: 100%;
}
